.app-name img {
    max-width: 60px;
}

.alert.callout.hint {
    border-left-color: #42b983 !important;
}

.alert.callout.hint .title {
    color: #42b983;
}

.vergleichstabelle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vergleichstabelle table {
    width: auto;
}

#footer {
    border-top: 1px solid rgba(0,0,0,.07);
    margin-top: 2rem;
    padding-top: 1rem;
}